[submodule "temporal"]
	path = temporal
	url = https://github.com/temporalio/temporal
	branch = cloud/v1.26.2-123
[submodule "tctl"]
	path = tctl
	url = https://github.com/temporalio/tctl
	branch = main
[submodule "dockerize"]
	path = dockerize
	url = https://github.com/jwilder/dockerize.git
[submodule "cli"]
	path = cli
	url = https://github.com/temporalio/cli.git
	branch = main
