[submodule "temporal"]
	path = temporal
	url = https://github.com/temporalio/temporal
	branch = release/1.28-lost-task-test
[submodule "tctl"]
	path = tctl
	url = https://github.com/temporalio/tctl
	branch = main
[submodule "cli"]
	path = cli
	url = https://github.com/temporalio/cli.git
	branch = main
