[submodule "temporal"]
	path = temporal
	url = https://github.com/temporalio/temporal
	branch = cloud/v1.29.0-135-server-version
[submodule "tctl"]
	path = tctl
	url = https://github.com/temporalio/tctl
	branch = main
[submodule "cli"]
	path = cli
	url = https://github.com/temporalio/cli.git
	branch = main
