version: "3.5"
services:
  postgresql:
    container_name: temporal-postgresql
    environment:
      POSTGRES_PASSWORD: temporal
      POSTGRES_USER: temporal
    image: postgres:${POSTGRESQL_VERSION}
    networks:
      - temporal-network
    expose:
      - 5432
    volumes:
      - /var/lib/postgresql/data
  temporal:
    container_name: temporal
    depends_on:
      - postgresql
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=postgresql
      - ENABLE_ES=false
      - ENABLE_S3_ARCHIVAL=true
      - S3_ARCHIVAL_REGION=us-east-1
      - S3_ARCHIVAL_BUCKET=temporal-history-archival
      - S3_ARCHIVAL_FORCE_PATH_STYLE=false
      - S3_ARCHIVAL_ENDPOINT=${S3_ARCHIVAL_ENDPOINT:-}
      - AWS_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-}
      - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN:-}
    image: ${IMAGE_REPO}/auto-setup:${IMAGE_SHA_TAG}
    networks:
      - temporal-network
    ports:
      - 7233:7233
    labels:
      kompose.volume.type: configMap
  temporal-admin-tools:
    container_name: temporal-admin-tools
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233 # used by temporal
      - TEMPORAL_CLI_ADDRESS=temporal:7233 # used by tctl
    image: ${IMAGE_REPO}/admin-tools:${IMAGE_SHA_TAG}
    networks:
      - temporal-network
    stdin_open: true
    tty: true
networks:
  temporal-network:
    driver: bridge
    name: temporal-network
